header{
    width: 100%;
    height: 34px;
}

/*header .return,header .top-title,header .share{
   float: left;
    height: 34px;
}*/
header  a{
    display: block;
    height: 38px;
}
header div{
    padding: 17px 15px;
}
header  .return a{
    background: url('../../img/return.jpg') no-repeat;
    width: 34px;
}
header  .return{
    float: left;
}
header .top-title a{
    color: #555;
    font-size: 34px;
    text-align: center;
}
header .top-title{
    width: 497px;
    float: left;
}
header   .share a{
    background: url('../../img/share.jpg') no-repeat;
    width: 38px;
}
header   .share{
    float: right;
}

/*主体部分*/
/*主体内容部分*/
.main{
    max-width: 660px;
    margin: auto;
}

/*大大的海报*/
.bigAd{
    height: 440px;
}

/*优惠卷*/
.coupon{
    height: 135px;
}

/*新品选项卡导航*/
.new-shop{
    height: 76px;
    background: url("../img/new-shop-nav.jpg");
    background-size: 660px 270px;
}
.new-shop nav{
    height: 100%;
    display: -webkit-flex;
    display: flex;
}
.new-shop nav a{
    -webkit-flex: 1;
    flex: 1;
}

/*新品服饰*/
.clothes{

}
.clothes .clothes-title{
    height: 170px;
}
.clothes .list{
}

.clothes .list ul{
    padding: 0 10px;
}

.clothes .list ul li{
    width: 304px;
    height: 492px;
    margin: 0 4px 12px;
    border: 2px solid #d0d0d0;
    float: left;
}
.clothes .list ul li a{
    display: block;
}
.clothes .list ul li a .brand-pic{
    height: 280px;
}
.clothes .list ul li a .brand-logo{
    width: 132px;
    height: 64px;
    background: white;
    border: 2px solid #f3f3f3;
    margin: 0 auto;
    position: relative;
    top: -32px;
}
.clothes .list ul li a .brand-msg{
    font-size: 20px;
    height: 23px;
    line-height: 23px;
    padding: 0 13px;
    overflow: hidden;
}
.clothes .list ul li a .brand-msg .price{
    color: #de3d96;
}
.clothes .list ul li a .brand-msg .price span{
    font-size: 24px;
}
.clothes .list ul li a .brand-msg .title{
    width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.clothes .list ul li a  .des{
    margin-top: 10px;
    padding:0 13px;
    font-size: 20px;
}
.clothes .list ul li a .to-pay{
    margin-top: 24px;

}
.clothes .list ul li a .to-pay span{
    width: 280px;
    height: 50px;
    display: block;
    margin:0 auto;
    text-align: center;
    line-height: 50px;
    background: #de3d96;
    font-size: 20px;
    color: white;
}







